body {
  font-family: 'Open Sans', sans-serif;
  background-color: #7A9E9F;
}

h1 {
  font-size: 23px;
  padding: 15px;
}

.header {
  background-color: #4F6367;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #EEF5DB;
  height: 70px;
}

.cloud-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cloud {
  margin: 10px;
}

.cloud-date {
  font-size: 21px;
  height: 25px;
  padding: 10px 20px 5px;
  color: #EEF5DB;
  background: #7A9E9F;
  border: 1px solid #EEF5DB;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 8px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.star-bar, .dog-pic {
  margin: 10px;
}

.star-bar {
  background: #FE5F55;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  border: 1px solid #4F6367;
  border-radius: 8px;
}

.dog-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid #B8d8D8;
}

.graph, nav {
  background-color: #4F6367;
}

.food {
  color: #F6655C;
}

.steps {
  color: #00B7FB;
}

.buttz {
  color: #FFF913;
}


.todays-highlights{
  margin: 20px 0 20px 0;
  text-align: left;
  color: #7A9E9F
}

.highlights {
  background-color: #B8d8D8;
  border: 4px solid #4F6367;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}

.single-highlight {
  margin: 8px;
}

.minus {
  color: #61767A;
}

.plus {
  color: #4F6367;
}

nav {
  padding: 20px;
}

button {
  background: #4F6367;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  color: #EEF5DB;
  border-radius: 7px;
  font-size: 15px;
  padding: 10px;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.nav-button {
  margin: 10px;
}

.footer{
  height:25%;
  width: 100%;
  background-color: #7A9E9F;
}

.dog-friends-section{
  display: none;
}

.map-section{
  /*visibility: hidden;*/
  display: none;
}


@media (min-width: 420px) {


.dog-friends-section{
  visibility: visible;
  background-color: #B8d8D8;
  border: 4px solid #4F6367;
  border-radius: 25px;
  margin: 20px;
}

.map-section{
  visibility: visible;
}

.bottom-sec{
  display: inline-block;
}

}





/*
#B8d8D8
#7A9E9F
#4F6367
#EEF5DB
#FE5F55
*/
/*
text colors
#FFF913
#00B7FB
#F6655C*/
