body{
  font-family: 'Open Sans', sans-serif;
  background-color: #7A9E9F;
}

.header{
  background-color: #4F6367;
  display: block;
  color: #EEF5DB;
}







/*
#B8d8D8
#7A9E9F
#4F6367
#EEF5DB
#FE5F55
*/
